@import '~react-toastify/dist/ReactToastify';

#router, body {
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.view {
    max-width: calc(100%);
    &-header {
        display: flex;
    }
}

.home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: px2rem(32);
    width: px2rem(32);
}
