$track-border-color: $color-grey !default;

.transitions {
    .track {
        transform: translateX(100vw);
    }
}

.track {
    height: 100%;
    min-height: 60vh;
    width: 100%;
    border-radius: px2rem(20);
    border: 1px solid rgba($track-border-color, 0.5);
    box-shadow: 5px 8px 18px -2px $track-border-color;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &-body {
        position: relative;
        z-index: 100;
        display: flex;
        padding: px2rem(24);
        background: rgba(white, 0.8);
        border-radius: px2rem(10);
        max-width: 70%;
    }

    &-bg {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        filter: blur(6px);

        img {
            filter: hue-rotate(180deg);
            width: 100%;
            height: 100%;
        }
    }

    &-control {
        display: flex;
        justify-content: center;
        align-items: center;

        .pause-play {
            width: px2rem(50) !important;
            height: px2rem(50) !important;
            flex: 0 0 px2rem(50);
        }

        & > * {
            margin-right: px2rem(20);
            margin-bottom: px2rem(20);

            *:last-child {
                margin-right: 0;
            }
        }
    }

    &-image {
        img {
            height: px2rem(180);
            width: auto;
            border: 1px solid rgba($track-border-color, 0.5);
        }
    }

    &-queue {
        position: absolute;
        top: px2rem(10);
        right: px2rem(10);
    }
}

.track-queue {
    .btn-icon {
        width: px2rem(20) !important;
        height: px2rem(20) !important;
    }
}

@include breakpoint(sm-down) {
    .track {
        width: 90vw;
        min-height: 80vh;

        &-body {
            padding: px2rem(20) px2rem(10);
        }

        &-control {
            flex-direction: column;
        }

        &-image {
            img {
                height: px2rem(200);
            }
        }

        &-details {
            margin: 0;
            padding: px2rem(10);
        }
    }
}

.artists-list {
    list-style: none;
    margin: 0;
}
